@page
@model University_Grant_Application_System.Pages.AccessDeniedModel
@{
	ViewData["Title"] = "Access Denied";
}

<a asp-page="/FacultyDashboard/Index" class="btn btn-secondary">Return to Dashboard</a>