@page
@model University_Grant_Application_System.Pages.CommitteeDashboardModel
@{
    ViewData["Title"] = "Chair Dashboard";
}
@section Styles {
    <link rel="stylesheet" href="~/css/FacultyViewIndex.css" />
}

<!-- Submitted Applications -->
<section class="applications-section">
    <h3>Submitted Grant Applications</h3>

    <div class="horizontal-scroll">
        @foreach (var app in Model.InProgressApplications)
        {
            <div class="card application-card">
                <h4>@app.Title</h4>
                <p>Principal Investigator: </p>
                <div class="alert alert-info" role="alert">
                    <p>RSPG Amount: @app.Amount</p>
                </div>
                <p>Other Amount:</p>
                <a asp-page="/Rubric" class="btn btn-primary">
                    Review
                </a>
            </div>
        }
    </div>
</section>

<!-- Approved Applications -->
<section class="applications-section">
    <h3>Approved Applications</h3>

    <div class="horizontal-scroll">
        @foreach (var app in Model.InReviewApplications)
        {
            <div class="card application-card">
                <h4>@app.Title</h4>
                <p>Amount: @app.Amount</p>
            </div>
        }
    </div>
</section>
