@page
@model University_Grant_Application_System.Pages.AdminDashboard.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Users</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Users.FirstName" class="control-label"></label>
                <input asp-for="Users.FirstName" class="form-control" />
                <span asp-validation-for="Users.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.LastName" class="control-label"></label>
                <input asp-for="Users.LastName" class="form-control" />
                <span asp-validation-for="Users.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.School" class="control-label"></label>
                <input asp-for="Users.School" class="form-control" />
                <span asp-validation-for="Users.School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.College" class="control-label"></label>
                <input asp-for="Users.College" class="form-control" />
                <span asp-validation-for="Users.College" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Department" class="control-label"></label>
                <input asp-for="Users.Department" class="form-control" />
                <span asp-validation-for="Users.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Email" class="control-label"></label>
                <input asp-for="Users.Email" class="form-control" />
                <span asp-validation-for="Users.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.AccountID" class="control-label"></label>
                <input asp-for="Users.AccountID" class="form-control" />
                <span asp-validation-for="Users.AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
