@page
@model University_Grant_Application_System.Pages.AdminDashboard.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Users</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Users.FirstName" class="control-label">First Name</label>
                <input asp-for="Users.FirstName" class="form-control" />
                <span asp-validation-for="Users.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.LastName" class="control-label">Last Name</label>
                <input asp-for="Users.LastName" class="form-control" />
                <span asp-validation-for="Users.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.CollegeId" class="control-label">College</label>
                <select asp-for="Users.CollegeId" class="form-control" asp-items="ViewBag.CollegeId">
                    <option value="">-- Select a College --</option>
                </select>
                <span asp-validation-for="Users.CollegeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.SchoolId" class="control-label">School</label>
                <select asp-for="Users.SchoolId" class="form-control" asp-items="ViewBag.SchoolId">
                    <option value="">-- Select a School --</option>
                </select>
                <span asp-validation-for="Users.SchoolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.DepartmentId" class="control-label">Department</label>
                <select asp-for="Users.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId">
                    <option value="">-- Select a Department --</option>
                </select>
                <span asp-validation-for="Users.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Email" class="control-label">Email</label>
                <input asp-for="Users.Email" class="form-control" />
                <span asp-validation-for="Users.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.AccountID" class="control-label">Account ID</label>
                <input asp-for="Users.AccountID" class="form-control" />
                <span asp-validation-for="Users.AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
